<div *ngIf="showContent" @fadeIn>
  <mat-card class="content">
    <mat-card-content>
      <mat-card-title class="title"
        >Willkommen bei MAKENIEER IT-Dienstleistungen</mat-card-title
      >
      <p>
        Bei Makenieer stehen Sie im Mittelpunkt: Ich biete maßgeschneiderte
        IT-Lösungen und Beratungen für Privatpersonen und Unternehmen, um die
        komplexesten Herausforderungen zu meistern. Von der ersten Beratung bis
        zur finalen Umsetzung - ich garantiere Lösungen auf Ingenieurniveau, die
        exakt auf Ihre Bedürfnisse zugeschnitten sind.
      </p>
    </mat-card-content>

    <!-- Action-Buttons-Card -->
    <mat-card-actions class="actions">
      <a mat-stroked-button color="primary" href="mailto:service@makenieer.de">
        <mat-icon>email</mat-icon>
        Kontakt
      </a>

      <button mat-stroked-button color="primary" routerLink="/service-page">
        <mat-icon>build_circle</mat-icon>
        Services
      </button>
    </mat-card-actions>

    <mat-divider></mat-divider>

    <mat-card-content>
      <mat-card-title class="title">Warum MAKENIEER?</mat-card-title>
      <p>
        Entdecken Sie den Unterschied, den individuell angepasste IT-Lösungen
        für Ihr Unternehmen oder Ihr persönliches Projekt machen können. Ich
        begleite Sie auf jedem Schritt des Weges – mit Kompetenz, Leidenschaft
        und einem klaren Fokus auf nachhaltige Ergebnisse.
      </p>
    </mat-card-content>
  </mat-card>
</div>
