<!-- home-page.component.html -->

<mat-card class="content">

  <mat-card-content>
    <p>
      Makenieer liefert kompetente IT-Dienstleistungen, die speziell auf die Anforderungen von Privatpersonen und
      Unternehmen ausgerichtet sind.
      <br>
      Bereits im ersten Beratungsgespräch werden maßgeschneiderte Lösungen auf
      Ingenieurniveau entwickelt, um eine fachgerechte Umsetzung zu gewährleisten.
    </p>
  </mat-card-content>

  <!-- Action-Buttons-Card -->
  <mat-card-actions class="actions">

    <a mat-stroked-button color="primary" href="mailto:konrad.muench1986@gmail.com">
      <mat-icon>mail</mat-icon>
      Kontakt
    </a>


    <button mat-stroked-button color="primary" routerLink="/service-page">
      <mat-icon>home_repair_service</mat-icon>
      Services
    </button>


  </mat-card-actions>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      Makenieer liefert kompetente IT-Dienstleistungen, die speziell auf die Anforderungen von Privatpersonen und
      Unternehmen ausgerichtet sind.
      <br>
      Bereits im ersten Beratungsgespräch werden maßgeschneiderte Lösungen auf
      Ingenieurniveau entwickelt, um eine fachgerechte Umsetzung zu gewährleisten.
    </p>
  </mat-card-content>

  <mat-card-footer>

  </mat-card-footer>
</mat-card>

