/* home-page.component.scss */
.content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: white ;
  background: rgba(33, 63, 132, 0.7);
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;



  a, button {
    margin: 0 10px;
    color: white;
    background: rgb(33, 63, 132);
  }
}


