<mat-card class="content">
  <mat-card-content>
    <h2>Willkommen bei MAKENIEER IT-Dienstleistungen</h2>
    <p>
      Bei Makenieer stehen Sie im Mittelpunkt: Wir bieten maßgeschneiderte IT-Lösungen für Privatpersonen und
      Unternehmen, um die komplexesten Herausforderungen zu meistern. Von der ersten Beratung bis zur finalen Umsetzung
      - wir garantieren Lösungen auf Ingenieurniveau, die exakt auf Ihre Bedürfnisse zugeschnitten sind.
    </p>
  </mat-card-content>

  <!-- Action-Buttons-Card -->
  <mat-card-actions class="actions">
    <a mat-stroked-button color="primary" href="mailto:konrad.muench1986@gmail.com">
      <mat-icon>email</mat-icon>
      Kontaktieren Sie uns
    </a>

    <button mat-stroked-button color="primary" routerLink="/service-page">
      <mat-icon>build_circle</mat-icon>
      Unsere Services
    </button>
  </mat-card-actions>

  <mat-divider></mat-divider>

  <mat-card-content>
    <h3>Warum MAKENIEER?</h3>
    <p>
      Entdecken Sie den Unterschied, den individuell angepasste IT-Lösungen für Ihr Unternehmen oder Ihr persönliches
      Projekt machen können. Ich begleite Sie auf jedem Schritt des Weges – mit Kompetenz, Leidenschaft und einem
      klaren Fokus auf nachhaltige Ergebnisse.
    </p>
  </mat-card-content>


</mat-card>
