/* home-page.component.scss */
.content {
  font-family: 'Monserat', serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: seashell;
  background-color: rgba(102, 102, 102, 0.9);
}

 mat-card-title{
  font-family: 'Monserat', serif;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  a, button {
    margin: 0 10px;
    color: white;
    background-color: rgb(30, 31, 34);
  }
}
.title{
  color: black;
}


