<div class="imprint-intro">
  <mat-card-title class="title">Impressum</mat-card-title>
  <mat-card class="header">
    <mat-card-content>
      <mat-card-title class="sub-title">Angaben gemäß § 5 TMG:</mat-card-title>
      <mat-divider></mat-divider>
      <div class="imprint-content">
        <mat-card-title class="sub-title"
          >makenieer IT-Dienstleistungen</mat-card-title
        >
        <p class="content">Konrad Münch</p>
        <p class="content">Klarastr. 2</p>
        <p class="content">12459 Berlin</p>
        <p>
          <mat-card-title class="sub-title">Kontakt:</mat-card-title>
          <a href="mailto:service@makenieer.de">service(at)makenieer.de</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
