/* navbar.component.scss */

.imprint-intro {
  font-family: 'Monserat', serif;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.title {
  font-family: 'Monserat', serif;
  background-color: rgba(102, 102, 102, 0.9);
  color: white;
  margin-bottom: 10px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.header {
  background-color: rgba(102, 102, 102, 0.9);
  color: white;
  border-radius: 20px;
}

.sub-title {
  font-family: 'Monserat', serif;
  color: black;
}

.service-card {
  margin-left: 5px;
  color: white;
  border-radius: 20px;
}
