/* app.component.css */
:host {
  display: block;
  height: 100vh;
  background: rgba(0, 0, 0, 1) url('/assets/icons/makenieer_logo.svg') no-repeat fixed center center;
  background-size: 1000px 1000px;
}


