/* navbar.component.scss */


.sidenav{

  color: blueviolet;
}

.item{
  color: aqua;


}

.top-navbar {
  background-color: rgba(255, 255, 255, 0);
  color: blueviolet;
}

.top-navbar-icon {
  background: rgba(255, 255, 255, 0);
  margin-left: auto;
  border-radius: 4px;
}

.mat-sidenav-content {
  background: url('/assets/background_black_white.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

