/* navbar.component.scss */

.icon-navbar {
  background: transparent;
  margin-left: auto;
  border-radius: 4px;
}

.mat-sidenav-content {
  background: url('/assets/background_black_white.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh; // Stellt sicher, dass der Hintergrund die volle Höhe einnimmt
}


