<mat-sidenav-container class="sidenav-container" style="height: 100vh;">
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
    <mat-nav-list>

      <mat-list-item routerLink="/home-page" [routerLinkActive]="['is-active']">
        <span class="font-description"> Home </span>
      </mat-list-item>

      <mat-list-item routerLink="/service-page" [routerLinkActive]="['is-active']">
        <span class="font-description"> Services </span>
      </mat-list-item>
      <mat-list-item routerLink="/imprint-page" [routerLinkActive]="['is-active']">
        <span class="font-description"> Impressum </span>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="top-navbar">
      <button mat-icon-button matTooltip="Menü" (click)="sidenav.toggle()">
        <mat-icon>menu-large</mat-icon>
      </button>
      <a routerLink="/">
      <img mat-card-image ngSrc="./assets/icons/makenieer_logo.svg"
           class="top-navbar-icon"  alt="makenieer-icon" height="90" width="90">
      </a>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
