<!-- services-page.component.html -->
<div class="services-intro">
  <h2 class="mat-display-1">Ingenieursdienstleistungen</h2>
  <p class="mat-body">Ich biete umfassende Lösungen in den Bereichen Informatik und technische Informatik, die speziell
    auf Ihre Bedürfnisse zugeschnitten sind. Entdecken Sie das breite Spektrum an Dienstleistungen, welches ich
    anbiete:</p>
</div>

<div class="services-list">
  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Softwareentwicklung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Individuelle Softwarelösungen, die auf Ihre spezifischen Anforderungen zugeschnitten sind.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Server- und PC-Management</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Effiziente Verwaltung und Wartung Ihrer IT-Infrastruktur.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Softwareentwicklung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Individuelle Softwarelösungen, die auf Ihre spezifischen Anforderungen zugeschnitten sind.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>IT-Beratung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Fachkundige Beratung, um Ihre IT-Strategie optimal auf Ihre Geschäftsziele auszurichten.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Softwareinstallation und -Wartung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>'Sorgenfreie Installation und Wartung von Softwarelösungen.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Sicherheitschecks und IT-Sicherheit</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>'Umfassende Sicherheitsüberprüfungen und Lösungen, um Ihre Datensicherheit zu gewährleisten.</p>
    </mat-card-content>
  </mat-card>

  <!-- Fügen Sie weitere <mat-card> Blöcke hier für jeden Service hinzu, ähnlich wie oben gezeigt -->

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Smart Home-Lösungen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Konzeption und Konfiguration intelligenter Smart-Home-Systeme.</p>
    </mat-card-content>
  </mat-card>
</div>
