<!-- services-page.component.html -->
<div class="services-intro">

  <mat-card-title class="title">Unsere Services</mat-card-title>
  <mat-card-header class="header">
    Entdecken Sie maßgeschneiderte IT-Lösungen, die perfekt auf die einzigartigen Anforderungen Ihres Unternehmens
    abgestimmt sind. Von der Softwareentwicklung bis zum umfassenden IT-Management bieten wir ein breites Spektrum an
    Services, um Ihre Technologieziele zu realisieren.
  </mat-card-header>


</div>

<div class="services-list">

  <mat-card class="service-card">
    <mat-card-title>Softwareentwicklung</mat-card-title>
    <img class="service-card-img" src="assets/icons/app-development.png" alt="Software Development">
    <mat-card-content>
      <p>Wir entwickeln maßgeschneiderte Software, die genau auf die Bedürfnisse Ihres Unternehmens zugeschnitten ist,
        um Ihre Geschäftsprozesse zu optimieren und zu automatisieren.<br>
        <mat-divider></mat-divider>
        Technologien:<br> C++, C# unter .NET, Python, JavaScript, HTML, CSS, und mehr.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-title>Server-Management</mat-card-title>
    <img class="service-card-img" src="assets/icons/data-server.png" alt="Server Management">
    <mat-card-content>
      <p>Komplettservice für Ihre Serverinfrastruktur – von der Einrichtung bis zur fortlaufenden Wartung,
        einschließlich leistungsfähiger Backup- und Wiederherstellungslösungen.<br>
        <mat-divider></mat-divider>
        Umgebungen:<br> On-Premise Linux-Server, Cloud-Server (MS-Azure).
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-title>PC-Management</mat-card-title>
    <img class="service-card-img" src="assets/icons/desktop.png" alt="PC Management">
    <mat-card-content>
      <p>Umfassende Betreuung Ihrer PC-Arbeitsplätze, inklusive Installation, Konfiguration und regelmäßiger Wartung, um
        einen reibungslosen Betrieb zu gewährleisten.<br>
        <mat-divider></mat-divider>
        Plattformen:<br> Windows, macOS, Linux.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-title>Sicherheitschecks und IT-Sicherheit</mat-card-title>
    <img class="service-card-img" src="assets/icons/it-security.png" alt="IT Security">
    <mat-card-content>
      <p>Umfangreiche Sicherheitsanalysen und Implementierung fortschrittlicher Sicherheitsmaßnahmen zum Schutz Ihrer
        IT-Infrastruktur vor Cyberbedrohungen.<br>
        <mat-divider></mat-divider>
        Tools:<br> Fortgeschrittene Verschlüsselungstechniken, Multi-Faktor-Authentifizierung ,Passwort-Safes (Keepass).
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-title>Netzwerkeinrichtung und Analyse</mat-card-title>
    <img class="service-card-img" src="assets/icons/local-area-network.png" alt="Network Setup">
    <mat-card-content>
      <p>Planung, Einrichtung und Optimierung Ihres Unternehmensnetzwerks, um Effizienz und Sicherheit zu
        maximieren.<br>
        <mat-divider></mat-divider>
        Features:<br> VLAN-Konfiguration, VPN-Einrichtungen, Performance-Monitoring.
      </p>
    </mat-card-content>
  </mat-card>

</div>
